.container {
    width: 90%;
    margin: auto;
    display: block;
    padding: 15px;
    margin-top: 15px;
    border-radius: 25px;
}

.dark.container {
    background-color: #484855;
}

/* .lite.container {
    border: 1px solid #0FA0CE;
} */

.dark h1, .dark th, .dark td {
    color: #9ca9ab;
}

div#table {
    float: left;
    width: 70%;
}

table {
    width: 100%;
}

#details {
    float: right; 
    /* display:table-cell; */
    width:25%;
    height: 150px;
    border-radius: 25px;
    min-width: 200px;
    padding-left: 15px;
    padding-top: 10px;
}

.dark tbody tr:hover td {
    color: white;
}

.lite tbody tr:hover {
    background-color: #eeeeee;
    color: #0FA0CE;
  }

/* .dark th {
    color: white;
} */

.dark #details {
    background-color: #9ca9ab;
}

.lite #details {
    background-color: #c1d4da;
}

.empty {
    padding: 25px;
    margin: auto;
}

@media (max-width: 850px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    #details {
        /* float: ;  */
        /* display:table-cell; */
        margin-top: 20px;
        width:100%;
        height: 150px;
        border-radius: 25px;
        min-width: 200px;
        padding-left: 15px;
        padding-top: 10px;
    }

    h1 {
        text-align: center;
    }

    div#table {
        width: 100%;
    }
}
  