<!-- <div class="container"> -->
    <!-- [class.lite]="theme === 'lite'"
    [class.dark]="theme === 'dark'"> -->
<div class="container {{theme}}">
    <h1>Expenses:</h1>
    <div id="table">
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Amount</th>
                <th>Date</th>
                <!-- <th>Details</th> -->
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let expense of expenses; let i=index" (click)="onClick(i)">
                    <th>{{ i+1 }}.</th>
                    <td>{{ expense.name }}</td>
                    <td>{{ expense.amount }}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="details">
        <div *ngIf="isEmptyObject(); else elseBlock">
            <p>Name: {{ expense.name }}</p>
            <p>Amount: {{ expense.amount }}</p>
        </div>
        <ng-template #elseBlock>
            <label class="empty">Choose expense to highlight!</label>
        </ng-template>
    </div>
</div>