div {
    height:100%;
    width: 100%;
    /* display: inline-block; */
}

.dark {   
    background-color:#2c2c32;
}

.lite {
    background-color: transparent;
    /* display: inline-block; */
}

app-expense-list {
    /* display: block; */
    height:100%;
    width: 100%; 
}